{% extends "base.html" %}

{% block content %}

<h4> Directions: </h4>
<p> &emsp; 1. To get back to the home page, hit 'Home' above. </p>
<p> &emsp; 2. To add a student to the student roster, hit 'Add Student' above</p>
<p> &emsp; &emsp; &emsp; 2a. To remove a student from the student roster, hit 'Remove Student' above </p>
<p> &emsp; 3. To add an instructor to the instructor roster, hit 'Add Instructor' above</p>
<p> &emsp; &emsp; &emsp; 3a. To remove an instructor from the instructor roster, hit 'Remove Instructor' above</p>
<p> &emsp; 4. To add a course to the course roster, hit 'Add Course' above</p>
<p> &emsp; &emsp; &emsp; 4a. To remove a course from the course roster, hit 'Remove Course' above</p>
<p> &emsp; 5. To access a student's schedule, hit 'Student Schedule' and enter their ID</p>
<p> &emsp; &emsp; &emsp; 5a. To add a course to this student's schedule, hit 'Add Class' after submitting their ID</p>
<p> &emsp; &emsp; &emsp; 5b. To remove a course from this student's schedule, hit 'Remove Class' after submitting their ID</p>
<p> &emsp; &emsp; &emsp; 5c. To change a student's grade in a class in their scheudle, hit 'Change Grade in Class' after submitting their ID</p>

{% endblock %}