{% extends "base.html" %}

{% block content %}
    <h4> Name: {{ studentName[0][0] }} </h4>
    <br>
    <h4>Course List: </h4>
    <div id="courseList">
        <table style="float: left; margin-right:15px">
            <tr>
                <th> ID </th>
                <th> Title </th>
            </tr>

            {% for course in courseList %}
                <tr>
                    <td> {{ course[0] }} </td>
                    <td> {{ course[1] }} </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% if studentSchedule %}
    <h4> Schedule: </h4>
        <table style="margin-top: 0px;">            
            <tr>
                <th> Class </th>
                <th> Grade </th>
            </tr>

            {% for item in studentSchedule %}
            <tr>
                <td> {{ item[2] }} ({{ item[1] }})</td>
                <td> {{ item[3] }} </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <div id="force_text_down">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <h4> Schedule: </h4>
    <p> This student has not enrolled in any classes as of yet. </p>
        
    {% endif %}

    <h3> Add Course to Schedule </h3>
    <p> Must enter a valid course ID! </p>
    
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.course_id.label  }} <br>
            {{ form.course_id(size=32) }}
        </p>

        <p>
            {{ form.submit() }}
        </p>
    </form>

    <div id="addCourseToStudent">
        {% for instructor in get_flashed_messages() %}
            {{instructor}} <br>
        {% endfor %}
    </div>

    <br><br>
    <a href="{{ url_for('studentSchedule') }}">Back To Schedule</a>
    <a href="{{  url_for('removeCourseFromStudent')  }}">Remove Class</a>
{% endblock %}